---
import AddToCartButton from './AddToCartButton.astro'

interface Props{
    name: string
}

const {name} = Astro.props
---

<div class="flex flex-col gap-y-4 group">
    <img src="/img/08-POST.jpg" class="rounded-2xl w-full" alt="" loading="lazy">
    <div class="text-left">
        <div class="flex justify-between items-center font-bold text-lg relative">
            <h4>{name}</h4>
            <div>
                <span class="group-hover:opacity-0 transition-opacity duration-300">$19.99</span>
                <AddToCartButton otherStyles='absolute min-w-[250px] right-0 top-0 opacity-0 group-hover:opacity-100 '/>
            </div>
        </div>
        <h5 class="font-semibold text-zinc-400">Fitness Culture</h5>
    </div>
    <AddToCartButton otherStyles='lg:hidden'/>
</div>