---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />

		<!-- SEO -->
		<meta
			name='description'
			content='Marca de Ropa. ofrecemos una amplia variedad de diseños y estilos para hombres y mujeres.'
		/>
		<meta name='robots' content='index, follow' />
		<link rel='canonical' href='https://thecultureclan.com' />

		<!-- Open Graph -->
		<meta property='og:type' content='website' />
		<meta
			property='og:image'
			content='https://res.cloudinary.com/df8nnzf8t/image/upload/v1702386655/logo_mywb2f.jpg'
		/>
		<meta property='og:url' content='https://thecultureclan.com/' />

		<!-- favicon -->
		<link
			rel='android-chrome'
			sizes='512x512'
			href='/favicon/android-chrome-512x512.png'
		/>
		<link
			rel='android-chrome'
			sizes='192x192'
			href='/favicon/android-chrome-192x192.png'
		/>
		<link
			rel='apple-touch-icon'
			sizes='180x180'
			href='/favicon/apple-touch-icon.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='32x32'
			href='/favicon/favicon-32x32.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='16x16'
			href='/favicon/favicon-16x16.png'
		/>
		<link rel='manifest' href='/site.webmanifest' />

		<!-- Google tag (gtag.js) -->
		<script
			type='text/partytown'
			async
			src='https://www.googletagmanager.com/gtag/js?id=G-9XN6FNH6J4'></script>
		<script type='text/partytown'>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag('js', new Date())

			gtag('config', 'G-9XN6FNH6J4')
		</script>

		<!-- <meta name='generator' content={Astro.generator} /> -->
		<title>The Culture Clan - {title}</title>
	</head>
	<body>
		<div>
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #f3f3f3;
		color: #3A3A3A
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	body{
		@apply grid place-content-center px-8;
	}

	body > div {
		@apply container;
	}
</style>
