---
interface Props{
    text: string
    link: string
    containerStyles: string
}

const {text, link, containerStyles} = Astro.props
---

<a href={link} class={`rounded-2xl text-lg font-semibold py-3 px-10 inline-block ${containerStyles} transition-colors duration-300`}>{text}</a>
